{% extends 'layout.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h4>Create new Blog</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-primary">Save</button>
    {{ form_end(form) }}
    <br/>
    <a href="{{ path('app_blog_index') }}"><button class="btn btn-success">back to list</button></a>
{% endblock %}
